<footer class="footer">
  <small>
    <p class="vio" style="margin-left: 0.5em;"> developed by Roman Kukla</p>
  </small>
  <nav style="margin-right: 0.5em;">
    <ul >
      <li class="vio"> currently seeking job, my info:</li>
      <li> <%= link_to 'linkedin', "https://www.linkedin.com/in/roman-kukla-software-engineer/", class: "vio" %></li>
      <li> <%= link_to 'CV', "http://portfolio-roman-kukla.herokuapp.com", class: "vio" %></li>
      <li> <%= link_to 'telegram', "https://telegram.me/roman_kukla", class: "vio" %></li>
      <li> <%= link_to 'mail me', "mailto:romankyk@gmail.com", class: "vio" %></li>
      <li> <%= link_to 'call me', "tel:+380930344021", class: "vio" %></li>
    </ul>
  </nav>
</footer>