<nav class="navbar navbar-expand-md navbar-dark bg-dark" style="height: 5em;">
  <div class="container-fluid">
    <%= link_to image_tag("logo.png", style: "height:66%; width:66%; margin-right: 5em;"),
                          root_path %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%= link_to "Home", root_path, class: "nav-link" %> <!-- aria-current="page"-->
        <%= link_to "All articles", articles_path, class: "nav-link" %>
        <%= link_to "All users", users_path, class: "nav-link" %>
        <% if user_signed_in? %>
          <%= link_to "Create article", new_article_path, class: "nav-link" %>
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete},
              class: "nav-link"%>
          <%= link_to "Settings", edit_user_registration_path, class: "nav-link" %>
        <% else %>
          <%= link_to "Log in", new_user_session_path , class: "nav-link"%>
        <% end %>

      </div>
    </div>
  </div>
</nav>
